.container {
    max-width: 400px;
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  #username, #password, #checkbox, #sign-in, .title {
    display: block;
    margin: auto;
    text-align: center;
  }
  #username {
    margin-top: 1.5rem;
  }
  #password {
    margin-top: 1.5rem;
  }
  #sign-in button {
    margin-top: .5rem;
    border: 1px solid black;
  }
  #checkbox {
    margin-top: .5rem;
    float: left;
  }
  #login-form {
    margin-top: 5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .title h1 {
    font-size: 1.5rem;
  }
  form {
    width:100%;
  }
  .MuiFormControl-root {
    width: 100%;
  }
  p {
    color: red;
  }
  